/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body{
  height: 100%;
  width:100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
}

.body-bg{
    background: #f5683d;
    z-index: 10;  
}

header{
  margin-bottom: 0px;
}


.navbar{
    padding: .8rem;
}
.navbar-nav li{
    paddig-right: 20px;
}




.alert {
position: fixed;
top: 80px;
right: 0;
margin-right: 15px;
margin-bottom: 0;
text-align: center;
z-index: 100;
animation: PuruPuru 2s forwards, fadeOut 10s linear forwards;
}

 @keyframes PuruPuru {
  0% {
        transform: translate(0px, 2px);
    }
    5% {
        transform: translate(0px, -2px);
    }
    10% {
        transform: translate(0px, 2px);
    }
    15% {
        transform: translate(0px, -2px);
    }
    20% {
        transform: translate(0px, 2px);
    }
    25% {
        transform: translate(0px, -2px);
    }
    30% {
        transform: translate(0px, 0px);
    }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
  }
}

.foot-app {
  background-color: black;
  height: 50px;
  bottom: 0;
  width: 100%;
  color: white;
  margin-top: 300px;
}

.copyright{
  padding: 10px 20px; 
  text-align: center;
}

.main-box{
  margin: 0;
  background: #fff;
}

.outer-box-style{
    background: #f5683d;
    padding: 10vh 1vh;
}

.box-style-1{
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px;
    padding: 30px 30px;
}

.box-style-2{
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px;
    padding: 5px 5px;
}

.box-style-3{
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px;
    padding: 80px 80px;
}

.outer-box-style-2{
    background: #f5683d;
    padding: 10vh 1vh; 
}

